@font-face {
  font-family: "io"; /* Project id 4058470 */
  /* Color fonts */
  src: 
       url('../fonts/font_4058470_9s81uu3rlb.woff2') format('woff2'),
       url('../fonts/font_4058470_9s81uu3rlb.woff') format('woff'),
       url('../fonts/font_4058470_9s81uu3rlb.ttf') format('truetype');
}

.io {
  font-family: "io" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.io-huo:before {
  content: "\e616";
}

.io-hot:before {
  content: "\e727";
}

.io-daochu1024-07:before {
  content: "\e617";
}

.io-bangong99:before {
  content: "\e668";
}

.io-huihua7799:before {
  content: "\e60d";
}

.io-shipin:before {
  content: "\e606";
}

.io-wangluojiance88:before {
  content: "\e614";
}

.io-pingmiansheji:before {
  content: "\e61e";
}

.io-tupian99:before {
  content: "\e870";
}

.io--daimashengcheng:before {
  content: "\e691";
}

.io--:before {
  content: "\e623";
}

.io-yonghudenglu:before {
  content: "\e64b";
}

.io-lianxiwomen:before {
  content: "\e60b";
}

.io-zhucehaoxiafa:before {
  content: "\e625";
}

.io-zuzhikuangjia0000:before {
  content: "\e647";
}

.io-yingyongguanliyuanguanli:before {
  content: "\e644";
}

.io-guanli:before {
  content: "\e993";
}

.io-tishi99:before {
  content: "\ec61";
}

.io-huiyuandenglu:before {
  content: "\e651";
}

.io--_moxingxunlian:before {
  content: "\e636";
}

